{% extends "base.html" %}
{% block content %}
    <div class="col-lg-12 m-b-md">
        {% for article in article_list %}
        {# django 隔行换色 #}
        {% if forloop.counter|divisibleby:"2" %}
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ article.title }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 m-b-md">
                        {{ article.desc }}
                        <div class="pull-right">
                            <a href="">
                                <button type="button" class="btn btn-success">详细阅读</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 m-b-md">
                        <span class="label label-success">发布时间</span>{{ article.date_publish | date:'Y-m-d H:i:s'}}
                        <span class="label label-success">分类</span>{{ article.category }}
                </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                {{ article.title }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 m-b-md">
                        {{ article.desc }}
                        <div class="pull-right">
                            <a href="">
                                <button type="button" class="btn btn-success">详细阅读</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="label label-success">发布时间</span>{{ article.date_publish | date:'Y-m-d H:i:s'}}
                        <span class="label label-success">分类</span>{{ article.category }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        {# 分页 #}
        <ul class='pager'>
            {% if article_list.has_previous %}
                <li><a href="?page={{ article_list.previous_page_number }}">上一页</a>
            {% else %}
                <li class="disabled"><a href="">上一页</a></li>
            {% endif %}
                <li>第{{article_list.number}}页,共{{article_list.paginator.num_pages}}页</li>
            {% if article_list.has_next %}
                <li><a href="?page={{ article_list.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="disabled"><a href="">下一页</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}